.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.footer__up-logo {
  width: 10vw;
}
.footer__list-icons {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}
.footer__line {
  width: 90%;
  margin: auto;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px 0;
  margin: auto;
}
.footer__down-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
