.wrapper-video {
  position: relative;
  display: grid;
  top: 0px;
  width: 100%;
  margin-top: -90px;
  @media (max-width: 900px) {
    margin-top: 0;
  }
}
.wrapper-video:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.wrapper-video__bg {
  grid-area: 1 / 1;
  width: 100%;
}
.wrapper-video__content {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 15vw;
  z-index: 3;
  @media (max-width: 670px) {
    margin-top: 10vw;
  }
  @media (max-width: 500px) {
    gap: 15px;
  }
}
.wrapper-video__logo {
  width: 20vw;
}
.wrapper-video__button {
  font-size: 1.6vw;
  color: #fff;
  background-color: #00000080;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 32%;
  padding: 20px 90px;
  @media (max-width: 700px) {
    padding: 2vw 0;
  }
}
.wrapper-video__button:hover {
  background-color: #000000;
}
.wrapper-video__list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wrapper-video__contact {
  width: 2.2vw;
  @media (max-width: 500px) {
    width: 2.7vw;
  }
}
