*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
