*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
h1,
h2 {
  font-size: 2.8vw;
}
.text {
  font-size: 1.2vw;
  font-weight: 200;
  color: white;
}
